h1 {
    color: rgba(1, 18, 167, 0.979)
}
body {
    background-color: rgba(119, 9, 9, 0.034);
    margin: 20px;
}
header {
    border-bottom: solid 2px rgba(7, 90, 122, 0.562);
    padding: 20px;
    font-size: 32px;

}
p {
    color: rgba(0, 0, 0, 0.932)
}